*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: black;
  color:red;
  

}

.Container{
  border:2px solid red;
  text-align: center;
  padding:30px;
  border-radius: 3px;
  box-shadow: 2px 2px gray;
 
}


button{
  cursor: pointer;
  color: red;
  background-color: black;
}
p{
  font-size: 40px;
}